# Files to ignore
*.pyc
.coverage
.DS_Store
profile.html
profile.json
*.pkl
*.html

# Tool build directories
__pycache__
.cache
.mypy_cache
.pytest_cache

# Folders to ignore
.nox/
logs/
save/
site/
docs/assets/tests/
test-reports/