##########################################################################################
#   DESCRIPTION:  Generate Mkdocs on Github Pages.
#        AUTHOR:  W. Li
#       VERSION:  1.0
#       CREATED:  9/15/2025
#
# References:
# * https://squidfunk.github.io/mkdocs-material/publishing-your-site/?h=pages#gitlab-pages-material-for-mkdocs
#
##########################################################################################

name: mkdocs

on:
  push:
    branches:
      - master
      - main

permissions:
  contents: write

##########################################################################################
# Jobs
##########################################################################################
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: ~/.cache
          restore-keys: |
            mkdocs-material-
      - run: pip install mkdocs-material
      - run: pip install mkdocs-git-authors-plugin
      - run: pip install mkdocs-glightbox
      - run: pip install 'mkdocs-material[imaging]'
      - run: pip install 'mkdocstrings[python]'
      - run: pip install termynal
      - run: mkdocs gh-deploy --force
